.zapasy-page {
  background-color: #F4F4F4;
  h1 {
    text-transform: uppercase;
  }
  &__header, &__subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px 0;
    margin-bottom: 32px;

    .select__redirect {
      margin-bottom: 0;
    }
  }
}

.main__content.zapasy {
  padding: 58px 50px;
}

.liga-row {
  display: flex;
    
  a {
    padding: 0 0px 16px;
    margin: 0 20px;
    font-size: 20px;
    color: black;

    &:first-child {
      margin-left: 0;
    }
    
    &.active {
        border-bottom: 4px solid $orange;
      }
    }
}

.zapasy-page__category {
  display: flex;

  a {
    padding-bottom: 2px;
    margin: 0 16px;
    font-size: 18px;
    color: $orange;
    border-bottom: 4px solid #ffd3c0;
    transition: all 0.2s ease;

    &.home {
      margin-left: 0;
    }

    &:hover {
      border-bottom: 4px solid red;
    }

    &:last-child {
      margin-right: 0;
    }
    
    &.active {
        border-bottom: 4px solid $orange;
      }
    }
}

.zapasy-page__row {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px;

  &:nth-child(odd) {
    background-color: #f5f5f5;
  }
}

.zapasy-page__type-date {
  flex: 0.15;
  text-align: center;
}

.zapasy-page__type {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
}

.zapasy-page__date {
  font-size: 18px;
  font-weight: 700;
}

.zapasy-page__logos {
  flex: 0.2;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 40px;
    width: auto;
    object-fit: contain;

    &:first-child {
      margin-right: 8px;
    }
  }
}

.zapasy-page__teams {
  flex: 0.25;

  h3 {
    font-size: 24px;
  }
}

.zapasy-page__score {
  flex: 0.075;
  display: flex;
  flex-direction: column;

  span {
    font-size: 24px;
  }
}

.zapasy-page__links {
  flex: 0.225;
  display: flex;
  align-items: center;

  a {
    margin-right: 24px;

    img {
      width: 20px;
      height: 20px;
    }
  }

  .zapasy-page__button {
    padding: 8px 16px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid $orange;
    color: $orange;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: box-shadow 0.2s ease;

    &:hover {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    img {
      margin-left: 20px;
      width: auto;
      height: 10px;
    }

  }
}

@media only screen and (max-width: 1024px) {
  .zapasy-page__row {
    display: grid;
    grid-template-columns: 2.2fr 1.5fr 2fr 0.2fr;
    grid-template-rows: 1fr 1fr;
  }
  .zapasy-page__links {
    grid-column: 1/5;
    justify-content: center;
  }
}

@media only screen and (max-width: 920px) {
  .select__redirect {
    max-width: 200px !important;
  }
}

@media only screen and (max-width: 768px) {
  .main__content.zapasy {
    padding: 58px 24px;
  } 
}

@media only screen and (max-width: 650px) {
  .zapasy-page__row {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 16px 32px;
  }

  .zapasy-page__type-date {
    grid-row: 1/2;
    grid-column: 1/5;
  }

  .zapasy-page__logos, .zapasy-page__teams, .zapasy-page__score {
    grid-row: 2/3;
  }

  .zapasy-page__logos {
    justify-content: flex-start;
  }

  .zapasy-page__teams {
    text-align: center;
  }

  .zapasy-page__score {
    text-align: end;
  }
}

@media only screen and (max-width: 425px) {
  .zapasy-page__header {
    font-size: 38.4px;
  }
  .zapasy-page__header, .zapasy-page__subheader {
    margin-bottom: 20px;
  }
  .liga-row {
    a {
      padding-bottom: 8px;
    }
  }
  .zapasy-page__row {
    padding: 16px;
    grid-row-gap: 8px;
  }
  .zapasy-page__teams h3 {
    font-size: 24px;
  }
  .zapasy-page__type-date div {
    font-size: 18px;
  }
  .zapasy-page__logos img {
    height: 45px;
  }
  .zapasy-page__links {
    a img {
      height: 20px;
    }

    .zapasy-page__button {
      font-size: 18px;
      padding: 12px;
    }
  }
}